@font-face {
    font-family: 'Times Now';
    src: url('TimesNow-Bold.eot');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Times Now';
    src: url('TimesNow-ExtraBold.eot');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Times Now';
    src: url('TimesNow-BoldItalic.eot');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Times Now';
    src: url('TimesNow-ExtraLightItalic.eot');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Times Now';
    src: url('TimesNow-ExtraBoldItalic.eot');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Times Now';
    src: url('TimesNow-ExtraLight.eot');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Times Now';
    src: url('TimesNow-Light.eot');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Times Now';
    src: url('TimesNow-SemiLightItalic.eot');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Times Now';
    src: url('TimesNow-SemiBold.eot');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Times Now';
    src: url('TimesNow-SemiBoldItalic.eot');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Times Now';
    src: url('TimesNow-LightItalic.eot');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Times Now';
    src: url('TimesNow-SemiLight.eot');
    font-weight: 300;
    font-style: normal;
}

